.Home-main-area
{
    min-width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#Home-sources-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.source-btn
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#roomOffBtn
{
    margin: 0;
}